#wrap
  = render partial: 'layouts/header'
  = render 'layouts/flash_message'
  .eyecatch-type-02
  = render partial: 'main_content'
  .sub-content.type-02
  %aside
  = render partial: 'layouts/footer'


