.content-wrapper-01
  = render partial: 'layouts/header'
  .upper-message-01
    = image_tag('https://d1te0bovbq6epg.cloudfront.net/common/img/icon-cancel.svg', class: "upper-message-01__btn")
    %p.upper-message-01__text プロフィールを充実させましょう。
  .main-content-type-02
    .left-content
      .profile-area-01
        = render partial: 'form'
    .right-content
      .side-profile-01
      .side-btn-area-01
      .side-profile-01.candidacy
      .side-btn-area-01
  = render partial: 'layouts/footer'
