.eyecatch-type-01 {
  color: #fff;
  &__inner {
    padding: 45px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    &__head {
      font-size: 18px;
      margin: 0 0 25px 0;
      letter-spacing: 2px;
    }
    &__lead-01 {
      font-size: 40px;
      margin-bottom: 40px;
      letter-spacing: 4px;
    }
    &__lead-02 {
      margin-top: 30px;
      font-size: 18px;
    }
    &__btn {
      margin-top: 30px;
      font-size: 16px;
      background-color: #3a94ff;
      padding: 20px 50px;
      letter-spacing: 3px;
      border-radius: 100px;
      display: inline-block;
    }
    &__btn:hover {
      cursor: pointer;
      background-color: #50a0ff;
    }
  }
}
.main-content-type-03 {
  .sec-01 {
    background-color: white;
    .inner{
      padding: 85px 0px 102px;
      width: 945px;
      margin: 0 auto;
      .registration {
        margin-bottom: 90px;
        padding: 0 20px;
        @include clearfix();
        &__image {
          float: left;
          margin-top: 35px;
          display: inline-block;
        }
        &__content{
          float: left;
          &--head {
            margin: 0 0 15px 40px;
            font-size: 30px;
            text-align: left;
            letter-spacing: 3px;
          }
          &--text {
            margin-bottom: 10px;
            font-size: 14px;
            color: #808080;
            text-align: center;
          }
          .new_company {
            display: block;
            float: left;
            #error_explanation {
              font-size: 14px;
              padding-left: 80px;
            }
            &__field-input {
              height: 50px;
              width: 290px;
              margin: 0 0 15px 75px;
              font-size: 12px;
              padding: 0 25px;
              letter-spacing: 2px;
              border: 1px solid #ddd;
              border-radius: 25px;
              display: block;
              outline: none;
            }
            &__field-input:hover {
              border-color: #a0a0a0;
            }
            &__field-input:focus {
              border-color: #ffcb00;
            }
            &__conform {
              font-size: 12px;
              color: #808080;
              margin-left: 70px;
              text-align: center;
            }
            &__btn {
              font-size: 16px;
              color: #fff;
              padding: 15px 50px;
              letter-spacing: 3px;
              border-radius: 100px;
              border-style: none;
              background-color: #ffcb00;
              outline: none;
              margin-top: 20px;
              margin-left: 110px;
              cursor: pointer;
            }
            &__btn:hover {
              opacity: 0.8;
            }
          }
        }
      }
      .result-head {
        margin-bottom: 75px;
        text-align: center;
        font-size: 30px;
        letter-spacing: 3px;
      }
      .client-lists {
        @include clearfix();
        &__list {
          float: left;
          width: 20%;
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }
  }
  .sec-02 {
    .inner {
      width: 1090px;
      margin: 0 auto;
      padding: 65px 0 100px;
      .service__head {
        margin-bottom: 60px;
        text-align: center;
        font-size: 30px;
        letter-spacing: 3px;
      }
      .service__lists {
        @include clearfix();
        &__list {
          width: 445px;
          height: 230px;
          margin:0 20px 45px 0;
          float: left;
          background-color: white;
          padding: 50px 40px 40px 30px;
          border-style: outset;
          border-width: 2px;
          &__image {
            width: 135px;
            height: 155px;
            float: left;
            margin-right: 30px;
          }
          &__content {
            float: right;
            width: 280px;
            height: 230px;

            &__head {
              margin-bottom: 10px;
              font-size: 22px;
              letter-spacing: 3px;
              font-weight: bold;
            }
            &__text {
              font-size: 15px;
              letter-spacing: 2px;
              margin-bottom: 30px;
            }
            &__btn {
              text-align: center;
              padding: 20px 50px;
              font-size: 16px;
              letter-spacing: 3px;
              color: #fff;
              border-radius: 100px;
              background-color: #ffcb00;
              cursor: pointer;
              position: relative;
              &--background {
                background-color: #3a94ff;
              }
            }
            &__btn:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
  .sec-03 {
    background-color: white;
    .inner {
      padding: 60px 0 80px;
      width: 1090px;
      margin: 0 auto;
      text-align: center;
      .inquiry-head {
        margin-bottom: 50px;
        font-size: 30px;
        letter-spacing: 4px;
      }
      .inquiry-btn {
        background-color: #3a94ff;
        font-size: 16px;
        padding: 20px 50px;
        letter-spacing: 3px;
        color: #fff;
        border-radius: 100px;
        display: inline-block;
      }
      .inquiry-btn:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}
