.flash_message {
  color: #fff;
  font-size: 18px;
  position: fixed;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  z-index: 10000;
  &__alert {
    background-color: rgba(226, 89, 89, 0.95);
  }
  &__notice {
    background-color: aqua;
  }
}
