#footer-01 {
  width: 100%;
  padding: 75px 0 100px 0;
  color: #fff;
  background-color: #232323;
  position: relative;
  .footer-inner {
    width: 870px;
    margin: 0 auto;
    .lead-01 {
      font-family: "Arial Rounded MT", "Arial Rounded MT Bold";
      font-size: 24px;
      margin-bottom: 75px;
      text-align: center;
      letter-spacing: 2px;
      color: #ffcb00;
    }
    .footer-wrapper-01 {
      margin-bottom: 75px;
      @include clearfix();
      .links {
        float: left;
        width: 50%;
        &__list {
          float: left;
          font-size: 14px;
          list-style: none;
          width: 50%;
          &--head {
            margin-bottom: 15px;
            font-weight: bold;
          }
          &--content {
            color: #808080;
            margin-bottom: 15px;
          }
          &--content:hover {
            color: #fff;
          }
        }
      }
      .opinion {
        float: left;
        width: calc(100% - 435px);
        &__head {
          margin-bottom: 15px;
          font-size: 14px;
          font-weight: bold;
        }
        &__form {
          color: black;
          &__email {
            width: calc(100% - 22px);
            border-radius: 4px;
            padding: 5px 10px;
            border: 1px solid #fff;
          }
          &__text {
            width: calc(100% - 22px);
            height: 210px;
            max-height: 210px;
            border-radius: 4px;
            padding: 5px 10px;
            border: 1px solid #fff;
            padding: 5px 10px;
            margin: 10px 0;
            resize: none;
          }
        }
        .form__submit {
          font-size: 14px;
          font-weight: bold;
          color: black;
          text-align: center;
          padding: 15px 10px;
          letter-spacing: 3px;
          border-radius: 27px;
          background-color: #ffcb00;
          cursor: pointer;
        }
      }
    }
    .earth {
      height: 820px;
      width: 794px;
      margin: 0 auto;
      .star1 {
        position: absolute;
        animation: anti-spin 15s linear infinite;
      }
      .star2 {
        position: absolute;
        animation: anti-spin 25s linear infinite;

      }
      .kinton {
        position: absolute;
        animation: spin 8s linear infinite;
      }
      .earth-image {
        position: absolute;
      }
      @keyframes anti-spin {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(-360deg);}
      }
      @keyframes spin {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
      }
    }
    .copyright {
      font-size: 14px;
      font-family: "Arial Rounded MT", "Arial Rounded MT Bold";
      text-align: center;
      letter-spacing: 3px;
      color: #b8b8b8;
      padding-top: 30px;
    }
  }
}
