.content-wrapper-01 {
  padding-top: 71px;
  background-color: #fafafa;
  .upper-message-01 {
    font-size: 13px;
    text-align: center;
    padding: 10px 60px;
    color: #fff;
    background-color: #ffcb00;
    &__btn {
      width: 13px;
      height: 13px;
      margin: 3px;
      float: left;
      display: block;
    }
    &__text {
      margin-bottom: 0;
    }
  }
  .main-content-type-02 {
    width: 1090px;
    margin: 70px auto 15px;
    font-size: 14px;
    padding-bottom: 80px;
    @include clearfix();
    .left-content {
      float: left;
      width: 690px;
      .profile-area-01 {
        background-color: #fff;
        position: relative;
        .edit_user {
          padding: 50px 50px 35px 50px;
          display: block;
          .user-image {
            position: absolute;
            top: -50px;
            left: 40%;
            .user-thumbnail {
              width: 120px;
              height: 120px;
              border: 4px solid #ffcb00;
              border-radius: 50%;
              display: inline-block;
              object-fit: cover;
            }
            &__label {
              &--image {
                height: 35px;
                width: 35px;
              }
            }
            &__field {
              display: none;
            }
          }
          .user-name {
            margin: 45px 0 30px;
            font-size: 18px;
            text-align: center;
            letter-spacing: 2px;
          }
          .form-wrap-01 {
            margin-top: 25px;
            text-align: left;
            .select-list {
              &__birth-day {
                font-size: 13px;
                position: relative;
                padding: 13px 33px 13px 15px
              }
            }
            .label-01 {
              font-weight: bold;
              display: block;
              margin-bottom: 10px;
              letter-spacing: 2px;
              color: #000;
              cursor: pointer;

            }
            .radio-01 {
              display: inline-block;
              font-size: 14px;
              line-height: 25px;
              margin-right: 15px;
              &__label {
                padding-left: 0px;
              }
            }
            .textbox-02.type-01 {
              width: 340px;
              line-height: 50px;
              padding: 0 25px;
              letter-spacing: 2px;
              border: 1px solid #ddd;
              border-radius: 25px;
              box-shadow: none;
              outline: none;
            }
            .textbox-02:hover {
             border-color : #a0a0a0;
            }
            .textbox-02:focus {
              border-color: #ffcb00;
            }
            .textbox-02.type-02 {
              width: calc(100% - 50px);
              line-height: 50px;
              padding: 0 25px;
              letter-spacing: 2px;
              border: 1px solid #ddd;
              border-radius: 25px;
              box-shadow: none;
              outline: none;
            }
            .textarea-01 {
              width: calc(100% - 50px);
              height: 250px;
              padding: 15px 25px;
              border: 1px solid #ddd;
              border-radius: 25px;
              resize: none;
              outline: none;
            }
            .textarea-01:hover {
              border-color: #a0a0a0;
            }
            .textarea-01:focus {
              border-color: #ffcb00;
            }
            .category-select {
              #user-category-lists {
                list-style: none;
                width: calc(100% - 70px);
                padding: 5px 15px;
                border: 1px solid #ddd;
                line-height: 25px;
                border-radius: 25px;
                outline: none;
                @include clearfix();
              }
              #user-category-lists:hover {
                border-color: #a0a0a0;
              }
            }
            .skill-select {
              #user-skill-lists {
                list-style: none;
                width: calc(100% - 70px);
                padding: 5px 15px;
                border: 1px solid #ddd;
                line-height: 25px;
                border-radius: 25px;
                outline: none;
                @include clearfix();
              }
              #user-skill-lists:hover {
                border-color: #a0a0a0;
              }
            }
          }
          .form-submit {
            padding: 15px;
            margin-top: 15px;
            &__btn {
              min-height: 52px;
              text-align: center;
              letter-spacing: 3px;
              border: none;
              border-radius: 100px;
              background-color: #ffcb00;
              display: inline-block;
              font-weight: bold;
              width: 100%;
              color: #fff;
              outline: none;
            }
            &__btn:hover {
              background-color: #ffdb50;
            }
          }
        }
      }
    }
  }
}
.ui-helper-hidden-accessible {
  display: none;
}
