%footer#footer-01{ role: "contentinfo" }
  .footer-inner
    %p.lead-01 Travelers make the world GOKIGEN.
    .wrapper
      .links
        %ul.links__list
          %li.links__list--head 主な機能
          %li.links__list--content ホーム
          %li.links__list--content シゴト
          %li.links__list--content すごい旅研究所
          %li.links__list--content ログイン
          %li.links__list--content 旅人登録
        %ul.links__list
          %li.links__list--head 初めての方はこちら
          %li.links__list--content FAQ
          %li.links__list--content 企業の方はこちら
          %li.links__list--content 仲間になる
          %li.links__list--content 運営会社について
          %li.links__list--content 利用規約
          %li.links__list--content プライバシーポリシー
          %li.links__list--content お問い合わせ
      .opinion
        %p.opinion__head SAGOJOについてご意見をお聞かせください
        %form.opinion__form
          %input{type: 'text', placeholder: "メールアドレスを入力してください", name: "email", class: "opinion__form__email"}
          %textarea{ name: "opinion", placeholder: "入力してください", class: "opinion__form__text" }
        .form__submit SAGOJOに意見を送信する
